.low-fi-image {
    width: 100%;
    border-radius: 30px;
}

.final-designs-section {
    margin-top: 60px;
}

.installation-gallery {
    margin-top: 60px;
    margin-bottom: 60px;
}

.installation-images {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw 0px;
    width: 100%;
    justify-content: space-between;
}

.installation-images img {
    border-radius: 20px;
}

.installation-image {
    width: 49%;
}

.game-board {
    width: 32%;
    border-radius: 20px;
}