/* * {
    border: hotpink 1px solid;
} */

html {
  scroll-behavior: smooth;
}



.header-text img {
    width: 100%;
    border-radius: 50px;
}

.project-intro {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.project-left {
    width: 60%;
}

.project-right {
    width: 30%;
    background-color: #EEBAE1;
    padding: 20px 2vw;
    border-radius: 20px;
}

.list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2em;
    line-height: 1.4em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* bold for headings */
    font-style: normal;
}

#contributors a:hover {
    color: white;
}

.userflow {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 100px;
    margin-bottom: 60px;
}

.userflow img {
    width: 60vw;
    border-radius: 50px;
    border: 2px solid #122D54;
}

.usertesting {
    align-items: flex-end;
}

.user-test-results {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 500px;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 120px;
}


.results-item {
    /* padding: 20px; */
    width: 30%;

}

.results-item img {
    height: 200px;
}

/* * {box-sizing:border-box} */



.dot {
    background-color: #122D54;
    color: white;
    font-family: montserrat, sans-serif;
    padding: 15px;
    margin: 0 10px;
    border-radius: 40px
}

.dot:hover {
    color: #122D54;
    background-color: #DD81C6;
    cursor: pointer;
}

.carosel-navagate {
    text-align: center;
    margin-top: 20px;
}

.carosel {
    max-width: 100%;
    position: relative;
    margin-top: 30px;
    /* margin: auto; */
}

.slides {
    display: none;

}

.slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slides img {
    border-radius: 30px;
    
}



.slide-text {
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    margin-top: -22px;
    padding: 16px;
    color: #122D54;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: #EEBAE1;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.key-features {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: disc;
    padding-left: 0;
    font-size: 1.2em;
}

.whatNext {
    margin-top: 120px;
    margin-bottom: 60px;
    height: 500px;
}

.results-item-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 500px;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 120px;
}