* {
    /* border: red 1px solid; For debugging layout issues */
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF3FC;
    width: 100%;
    font-family: montserrat, sans-serif;
}

.main-content {
    width: 90%;
    margin: auto;
    color: #122D54;
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}


p {
    font-size: 1.5em;
    line-height: 1.7em;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 6vh;
    align-items: center;
    padding: 20px 0;
    flex-direction: row;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

nav img {
    height: 6vh;
}

li {
    list-style-type: none;
    display: inline;
    margin-right: 2vw;
}

a {
    text-decoration: none;
    color: #122D54;
}

a:hover {
    color: #DD81C6;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.top-section .top-left {
    width: 30vw;
    height: 30vw;
    background-color: #DD81C6;
    border-radius: 50%;
}

.top-section .top-right {
    width: 60vw;
    padding-left: 5vw;

}

.projects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.project-card {
    /* background-color: #bababa; */
    width: 36vw;
    padding: 20% 4% 2% 4%;
    border-radius: 70px;
    color: #FFF3FC;
    display: flex;
    flex-direction: column;
    background-size: cover;        /* prevent stretching */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* STOP repeating! */

    transition: background-size 0.5s ease; /* smooth zoom */
    cursor: pointer;
}

.project-card:hover {
    background-size: 120%; /* zoom in on hover */
    transition: ease 0.5s; /* smooth zoom */

}



#illini-swap-img {
    background-image: url("css-images/IlliniSwapMockup.png");
}


#cybersafari-img {
    background-image: url("css-images/CyberSafari.png");
}



#powerupprincess-img {
    background-image: url("css-images/PowerUpPrincessCover.png");
     
}


#forkfight-img {
    background-image: url("css-images/fork-fight-img.png");

}

.photo-text {
    z-index: 2;
    position: relative;
    background-color: #122d5481;
    padding: 10px 2vw;
    border-radius: 20px;
    align-items: center;
    /* opacity: 0.8; */

    opacity: 0;          /* hide it */
    transition: opacity 0.4s ease;  /* smooth fade-in */
}

.project-card:hover .photo-text {
    opacity: 1;  /* show it on hover */
}

footer {
    width: 100%;
    background-color: #DD81C6;
    color: #122D54;
    font-family: Montserrat, sans-serif;
    padding: 40px 5vw;

}

#footer-logo {
    width: 100%;
    
}

.footer-social {
    margin-top: 20px;
}

.footer-social img {
    width: 25%;
    margin-right: 10px;
    color: #122D54;
    cursor: pointer;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20%;
}

.footer-right {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: right;
    gap: 5%;
}

.footer-left div :hover {
    image-rendering: brightness(0.1);
    cursor: pointer;
}
.footer-right div :hover {
    color: #FFF3FC;
    cursor: pointer;
}