body {
    margin: 0;
    padding: 0;
    background-color: #FFF3FC;
    width: 100%;
    font-family: montserrat, sans-serif;
}

.main-content {
    width: 90%;
    margin: auto;
    color: #122D54;
    /* font-family: Montserrat, sans-serif; */
}

h1 {
    font-size: 3em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    /* bold for headings */
    font-style: normal;

}

h2 {
    font-size: 2em;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    /* bold for headings */
    font-style: normal;
}


p {
    font-size: 1.5em;
    line-height: 1.7em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* bold for headings */
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 6vh;
    align-items: center;
    padding: 20px 0;
    flex-direction: row;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

nav img {
    height: 6vh;
}

li {
    list-style-type: none;
    display: inline;
    margin-right: 2vw;
}

a {
    text-decoration: none;
    color: #122D54;
}

a:hover {
    color: #DD81C6;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.top-section .top-left {
    width: 30vw;
    height: 30vw;
    background-color: #DD81C6;
    border-radius: 50%;
}

.top-section .top-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.top-section .top-right {
    width: 60vw;
    padding-left: 5vw;

}

.projects-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.project-card {
    width: 45%;
    padding: 20% 20px 2% 20px;
    border-radius: 70px;
    color: #FFF3FC;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-size 0.5s ease;
    cursor: pointer;
}

.project-card:hover {
    background-size: 120%;
    transition: ease 0.5s;
    color: #FFF3FC
}





#illini-swap-img {
    background-image: url("css-images/Illini-Swap-Mockup-HAND.png");
}


#cybersafari-img {
    background-image: url("css-images/CyberSafari.png");
}



#powerupprincess-img {
    background-image: url("css-images/PowerUpPrincessCover.png");

}


#forkfight-img {
    background-image: url("css-images/fork-fight-img.png");

}

.photo-text {
    z-index: 2;
    position: relative;
    background-color: #72215eb5;
    padding: 10px 2vw;
    border-radius: 20px;
    align-items: center;
    /* opacity: 0.8; */

    opacity: 0;
    /* hide it */
    transition: opacity 0.4s ease;
    /* smooth fade-in */
}

.project-card:hover .photo-text {
    opacity: 1;
    /* show it on hover */
}

footer {
    width: 100%;
    background-color: #DD81C6;
    color: #122D54;
    font-family: Montserrat, sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    /* paddauto 50px; */


}

#footer-logo {
    height: 80px;

}

.footer-social {
    margin-top: 20px;
}

.footer-social img {
    width: 15%;
    margin-right: 10px;
    color: #122D54;
    cursor: pointer;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;

}

.footer-left {
    width: 20%;

}

.footer-right {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.footer-right h2 {
    font-size: 1.5em;
}

.footer-right p {
    font-size: 1.2em;
}

.footer-left div :hover {
    filter: brightness(0.1);
    cursor: pointer;
}

.footer-right div :hover {
    color: #FFF3FC;
    cursor: pointer;
}